<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zaid.duchamp.wifi.compat.overlay"
    android:versionCode="3"
    android:versionName="2.1">

    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="36" />

    <application android:hasCode="false" />

    <overlay
        android:targetPackage="com.android.wifi.resources"
        android:targetName="WifiCustomization"
        android:resourcesMap="@xml/overlays"
        android:isStatic="true"
        android:priority="10" />
</manifest>
